.logo {
    width: 7em;
    display: block;
    margin: auto;
    padding-top: 1em;
}

@media (max-width:600px) {
    .logo {
        width: 3em;
        transition: 1s;
    }
}
body {
     background-color: #0c0e28;
}

.menu {
   text-align: center;
    font-family: 'Martel', serif;
    
}

.menu ul {
   display: grid;
    justify-items: center;
    padding: 0;
    list-style: none;
    margin: 2em;
    font-size: 0.5em;
}

.menu a {
    text-decoration: none;
    font-size: 1.5em;
    color: #afafaf;
    padding: 0 2em;
  background-image:linear-gradient(135deg, rgba(24,51,56,1) 31%, rgba(80,20,20,1) 68%);
  background-repeat:no-repeat;
  background-position:bottom center;
  background-size:100% 5px;
  transition:.5s;
}

.menu a:hover {
    color: #3c3d3f;
    background-size:100% 100%;
  border-radius:0.25em;
}

@media (min-width: 600px) {
    .menu ul {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        font-size: 1em;
    }
    
    .menu a {
        padding: 0;
    }
}

.footer {
   text-align: center;
    font-family: 'Martel', serif;
    
}

.footer ul {
   display: grid;
    justify-items: center;
    padding: 0;
    list-style: none;
    margin: 2em;
    font-size: 0.5em;
}

.footer a {
    text-decoration: none;
    font-size: 1.5em;
    color: #afafaf;
    padding: 0 2em;
  background-image:linear-gradient(135deg, rgba(24,51,56,1) 31%, rgba(80,20,20,1) 68%);
  background-repeat:no-repeat;
  background-position:bottom center;
  background-size:100% 5px;
  transition:.5s;
}

.footer a:hover {
    color: #3c3d3f;
    background-size:100% 100%;
  border-radius:0.25em;
}

@media (min-width: 600px) {
    .footer ul {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        font-size: 0.7em;
    }
    
    .footer a {
        padding: 0;
    }
}

.text {
    text-align: center;
    list-style: none;
  text-decoration: none;
     color: white;
    font-family: 'Martel', serif;
    font-size: 1.5em;
}
.foto {
    width: 20%;
    margin: 0 auto;
     
}

@media (max-width:600px) {
    .foto {
        width: 60%;
    }
    .text {
        font-size: 1em;
    }
}

.ot {
    display: grid;
    grid-gap: 1.5em;
    padding: 1.5em;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'incognito-pro';
    z-index: -1;
}

@media (min-width:50em) {
    .ot {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}

section {
    width: 100%;
    height: auto;
}

img {
    display: block;
    width: 100%;

}
 
section > a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Martel', serif;
    font-size: 2em;
     background-image:linear-gradient(135deg, rgba(24,51,56,1) 31%, rgba(80,20,20,1) 68%);
  background-repeat:no-repeat;
  background-position:bottom center;
  background-size:100% 5px;
    padding-top: 1em;
}

.click-me {
    text-align: center;
    list-style: none;
  text-decoration: none;
     color: white;
    font-family: 'Martel', serif;
    font-size: 1.5em;
}
.fp-essay {
    width: 20%;
    margin: 0 auto;
}

@media (max-width:800px) {
    .fp-essay {
        width: 60%;
    }
    .click-me {
        font-size: 1em;
    }
}

